<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.category%></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<%= link_to "Back", restaurants_path, class: "btn btn-primary"%>
<%= link_to "Review",  new_restaurant_review_path(params[:restaurant_id]), class: "btn btn-primary"%>


